.textarea {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
  align-items: flex-start;
  &__span {
    color: darkred;
    display: block;
    font-size: 0.8rem;
  }
  &_error {
    border: 2px darkred solid;
  }
}

.input {

  &__span {
    color: darkred;
    display: block;
    margin-left: 30px;
    font-size: 1.1rem;
  }
  &_error {
    border: 2px darkred solid;
  }
}


