.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.addPostBlock {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px gray solid;
    padding: 0 15px 25px 15px;
}

.addPostBlock>h3 {
    margin: 0;
    padding: 3px;
}


