.header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
}

.header > img {
    display: inline-block;
    max-height: 50px;
    padding: 5px 5px 5px 20px;
}

.header h2 {
    font: 500 1.8rem 'Titillium Web', 'Helvetica', 'Arial', sans-serif;
    color: #3E8988;
    text-shadow: 2px 2px 5px rgba(0,0,0,1);
}

.loginBlock {
    position: absolute;
    right: 15px;
    top: 5px;
}

.loginBlock > a {
    color: whitesmoke;
}