@import "src/sass/variables/variables";

.wrapper {
  @include makeWH(500px, 300px);
  @include flexDirection(column);
  background-color: #e5e5e5;
  margin: 25px 50px;
}

.form {
  font: 400 0.9rem/1.6 "Century Gothic";
  div {
    margin: 5px;
  }
}

.remember {
  display: flex;
  flex-flow: row nowrap;
  text-align: left;

  &__span {
    margin-left: -135px;
  }
}

.summaryError {
  color: #7f2121;
  border: 2px darkred solid;
  padding: 5px;
}
